// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'mixins';
.el-dialog {
  max-width: 768px;
}
@media screen and (max-width: 768px) {
  .el-dialog {
    width: 80%;
  }
}
@media screen and (max-width: 546px) {
  .el-dialog {
    width: 100% !important;
    max-width: calc(100vw - 20px);
  }
}
