@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?hs67z2');
  src:  url('/fonts/icomoon/icomoon.eot?hs67z2#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?hs67z2') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?hs67z2') format('woff'),
    url('/fonts/icomoon/icomoon.svg?hs67z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-404:before {
  content: "\e900";
}
.icon-bug:before {
  content: "\e901";
}
.icon-chart:before {
  content: "\e902";
}
.icon-clipboard:before {
  content: "\e903";
}
.icon-component:before {
  content: "\e904";
}
.icon-dashboard:before {
  content: "\e905";
}
.icon-documentation:before {
  content: "\e906";
}
.icon-drag:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e908";
}
.icon-education:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
}
.icon-example:before {
  content: "\e90b";
}
.icon-excel:before {
  content: "\e90c";
}
.icon-exit-fullscreen:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-eye-open:before {
  content: "\e90f";
}
.icon-form:before {
  content: "\e910";
}
.icon-fullscreen:before {
  content: "\e911";
}
.icon-guide:before {
  content: "\e912";
}
.icon-icon:before {
  content: "\e913";
}
.icon-international:before {
  content: "\e914";
}
.icon-language:before {
  content: "\e915";
}
.icon-link:before {
  content: "\e916";
}
.icon-list:before {
  content: "\e917";
}
.icon-lock:before {
  content: "\e918";
}
.icon-message:before {
  content: "\e919";
}
.icon-money:before {
  content: "\e91a";
}
.icon-nested:before {
  content: "\e91b";
}
.icon-password:before {
  content: "\e91c";
}
.icon-pdf:before {
  content: "\e91d";
}
.icon-people:before {
  content: "\e91e";
}
.icon-peoples:before {
  content: "\e91f";
}
.icon-qq:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-shopping:before {
  content: "\e922";
}
.icon-size:before {
  content: "\e923";
}
.icon-skill:before {
  content: "\e924";
}
.icon-star:before {
  content: "\e925";
}
.icon-tab:before {
  content: "\e926";
}
.icon-table:before {
  content: "\e927";
}
.icon-theme:before {
  content: "\e928";
}
.icon-tree:before {
  content: "\e929";
}
.icon-tree-table:before {
  content: "\e92a";
}
.icon-user:before {
  content: "\e92b";
}
.icon-wechat:before {
  content: "\e92c";
}
.icon-zip:before {
  content: "\e92d";
}
